ion-card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 16px;
  background-color: #ffffff;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}


ion-card-header {
  background-color: #008080; /* Teal */
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
ion-card-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

ion-card-title img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 8px;
  border: 2px solid #ffffff;
}
ion-card-subtitle {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  color: #f0f0f0;
  margin-top: -5px;
}

ion-card-content {
  padding: 20px;
  font-size: 15px;
  color: #333333;
  background-color: #f8f9fa; 
  line-height: 1.8;
}
ion-card-content p {
  margin: 12px 0;
}

ion-card-content strong {
  font-weight: bold;
  color: #008080; 
}

ion-card-content span {
  display: inline;
  color: #555555;
}

@media (max-width: 768px) {
  ion-card {
    margin: 8px;
  }

  ion-card-title {
    font-size: 16px;
  }

  ion-card-title img {
    width: 40px;
    height: 40px;
  }

  ion-card-content {
    font-size: 12px;
  }
}

