ion-header {
  background-color: #008080;
}

ion-toolbar {
  --background: #008080; /* Set background color of toolbar */
}

ion-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* White text for the title */
  
}

